.con{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container{
    margin-top: -80px;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
  }
  
  .Resume{
    width: 100%;
    height:100%;
    overflow: hidden;
    margin-top:100px;
  }

  
  .downloadBtn{
    position: relative;
    height: 50px;
    width: 200px;
    border: 2px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: -55px;
    background-color: black;
  }

  .downloadBtn:hover{
    background-color: green;
  }
  
  .downloadBtn a{
    color: white;
    text-decoration: none;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }